body {
  background-color: black;
  font-family: Verdana;
  Text-align: center;
}
a {
  color: aquamarine;
  font-size: 16px
}
h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
}
h2 {
  font-weight: 300;
  font-size: 42px;
  color: white;
}

h3 {
  font-size: 21px;
  color: grey;
}

.foot {
  text-align: right;
  color: grey;
  font-size: 21px;
}
